$loader_color: #565d64;

.toolbar {
  background: #000000;
}

.home-page-content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.article.article-full {
  .header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;

    .title {
      margin: 0.2em 0;
      font-size: 3em;
      font-weight: 300;
    }

    .author {
      font-weight: 300;
      color: #ccc;
      padding: 0;
    }

    .publish-date {
      font-size: 1em;
      text-align: right;
      color: #ccc;
      font-style: italic;
    }
  }

  .main-picture {
    margin: 1em auto;

    .pure-img-responsive {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
    }
  }
}

.loader.lds-roller {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 150px auto;

  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;

    &::after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $loader_color;
      margin: -4px 0 0 -4px;
    }

    &:nth-child(1) {
      animation-delay: -0.036s;

      &::after {
        top: 63px;
        left: 63px;
      }
    }

    &:nth-child(2) {
      animation-delay: -0.072s;

      &::after {
        top: 68px;
        left: 56px;
      }
    }

    &:nth-child(3) {
      animation-delay: -0.108s;

      &::after {
        top: 71px;
        left: 48px;
      }
    }

    &:nth-child(4) {
      animation-delay: -0.144s;

      &::after {
        top: 72px;
        left: 40px;
      }
    }

    &:nth-child(5) {
      animation-delay: -0.18s;

      &::after {
        top: 71px;
        left: 32px;
      }
    }

    &:nth-child(6) {
      animation-delay: -0.216s;

      &::after {
        top: 68px;
        left: 24px;
      }
    }

    &:nth-child(7) {
      animation-delay: -0.252s;

      &::after {
        top: 63px;
        left: 17px;
      }
    }

    &:nth-child(8) {
      animation-delay: -0.288s;

      &::after {
        top: 56px;
        left: 12px;
      }
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
